<%- include ('../partials/header&style.ejs') -%>

<% if(!user){ %>
<div class="container mt-5">
    <h2>Login</h2>
    <% if(error && error != "") { %>
        <div class="alert alert-danger">
                <%= error %>
        </div>
        <% } %>
    <div style="border-radius: 10px;" class="col-sm-12 bg-primary mt-5 p-5">
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username" type="text" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input  id="password" name="password" type="password" class="form-control" minlength="4" >
                <a  style="text-decoration: none; color: #F1F2EC;" href="#">Forgot password?</a>
            </div>
            <button style="background-color: #282923;" type="submit" class="btn v">Sign in</button>
        </form>
    </div>
</div>
<% } %>

<%- include ('../partials/footer.ejs') -%>
